html {
    margin: 0 auto;
    position: relative;
    /* Fix for absolute positioning */
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    min-height: 100vh;
    /*justify-self: center; */
    background: rgb(240, 244, 245);
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER */

.headerContainer {
    background-color: #0a739c;
    max-width: 1300px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 40px;
}

.header {
    top: 0;
    margin: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #0a739c;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 10px;
}

.sitelogo {
    width: auto;
    border-radius: 5%;
}

.sitelogo img {
    width: 60px;
    border-radius: 5%;
}

.headerLinks {
    justify-content: right;
    align-items: center;
    list-style: none;
    width: 60%;
}

.headerLinks a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    transition: .3s;
    width: auto;
}

.headerLinks a:hover {
    background-color: #096488;
}

.searchBar {
    position: relative;
    text-align: right;
    justify-content: right;
}

.searchBar input {
    border-radius: 20px;
    border: none;
    outline: none;
    width: 40%;
    height: 25px;
    font-size: large;
    padding-left: 20px;
}

.searchBar input::placeholder {
    font-size: 14px;
    color: gray;
}

.searchBar .searchBtn {
    position: relative;
    left: 5px;
    border-radius: 50px;
    height: 28px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    background-color: #EE626B;
    color: #fff;
    text-transform: none;
    transition: .3s;
    width: 25%;
}

.searchBar .searchBtn:hover {
    background-color: #096488;
    cursor: pointer;
}

/* END HEADER  */


/* PRESENTATION */

.presentation {
    position: relative;
    align-items: center;
    text-align: center;
}

.pic {
    height: 360px;
    width: 758px;
}


/* BOX CARDS  */

.boxContainer {
    background-color: #EEEEEE;
    margin-top: 100px;
    padding: 40px;
    border-radius: 80px;
    width: auto;
    position: center;
    max-width: 1300px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.mostBoxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 40px;
}

.box {
    padding: 0 20px 0 20px;
    display: block;
}

.boxImg img {
    border-radius: 20px;
    position: relative;
    height: auto;
    max-width: 180px;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description {
    font-size: 12px;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 2%;
}

.boxImg:hover {
    transform: scale(1.05);
}

/* END BOXCARDS  */


/* END PRESENTATION */


/* FOOTER  */
.footerContainer {
    background-color: #1d2020;
    height: 150px;
    border-radius: 0 0 0 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: larger;
}

/* END FOOTER  */